.App {
  background-color: #00a000;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -99;
  flex-direction: column-reverse;
}

.picker {
  position: fixed!important;
  top: 0;
  right: 0;
}
