.bubble.input,
.bubble.input .bubble-content {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  border: none;
  outline: none;
}

.bubble.input.submitted {
  transition: none;
}

.bubble.input.empty {
  opacity: 0;
}

.bubble.input > div {
  background-color: var(--bubble-background-color);
  font-size: 32px;
  min-width: 30px;
}
